/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif; /* Use Lato font as the default font */
}

header {
    background-color: #333;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align items to the right */
}

nav ul li {
    margin-left: 10px; /* Add some space between the links */
}

nav ul li:first-child {
    margin-right: auto; /* Pushes the "GO" link to the far left */
    font-size: 20px; /* Adjust the font size of home link */
}

nav ul li:last-child {
    margin-right: 10px; /* Add margin to the right of the last link */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


.home-section {
    background-color: #f0f0f0;
    text-align: center;
    padding: 200px 0;
}

.background-image {
    background-image: url('home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-section h1,
.home-section p {
    font-size: 36px; /* Increase font size for the home section */
}

.about-section {
    display: flex;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-text {
    width: calc(50% - 10px);
}

.about-photo {
    width: calc(50% - 10px);
}

.about-text h2 {
    margin-bottom: 20px;
}

.about-photo img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.about-content {
    padding: 50px 0;
}

.portfolio-section,
.contact-section {
    padding: 50px 0;
    background-color: #f0f0f0; /* Set background color */
}

.portfolio-section h2 {
    text-align: center; /* Center align the title */
}

.portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.portfolio-gallery img {
    max-width: 100%;
    height: 150px; /* Set a fixed height for all images */
    object-fit: cover; /* Maintains aspect ratio while covering the container */
}

.contact-section form input,
.contact-section form textarea,
.contact-section form button {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Apply grayscale filter to all images and background images */
img, .background-image {
    filter: grayscale(100%);
}

/* Style links in the portfolio section */
.portfolio-links a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s; /* Add transition effect for smoother color change */
}

.portfolio-links a:hover {
    color: #999; /* Change text color on hover */
    text-decoration: none; /* Remove underline on hover */
}
