/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
body {
    font-family: 'Roboto', sans-serif; /* Use Roboto font as the default font */
}

/* Header and Footer */
header,
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

/* Navigation */
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align items to the right */
}

nav ul li {
    margin-left: 10px; /* Add some space between the links */
}

nav ul li:first-child {
    margin-right: auto; /* Pushes the "GO" link to the far left */
    font-size: 20px;
    font-weight: 300;
}

nav ul li:last-child {
    margin-right: 10px; /* Add margin to the right of the last link */
}

nav ul li a {
    font-weight: 100;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s; /* Add transition effect */
}

nav ul li a:hover {
    color: #999;
}

/* HOME SECTION */
.home-section {
    background-image: url('home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 200px 0;
    filter: grayscale(100%);
}

.home-section h1 {
    font-weight: 300;
    font-size: 46px;
    color: #fff;
}

.home-section p {
    font-weight: 100;
    font-size: 46px;
    color: #fff;
}

/* ABOUT SECTION */
.about-section {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top */
    flex-basis: 100%; /* Take up full width initially */
    padding: 50px 0;
}

.about-text {
    width: calc(50% - 10px);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about-text h2,
.portfolio-section h2,
.contact-section h2 {
    font-weight: 300;
    font-size: 36px;
}

.about-photo {
    width: calc(50% - 10px);
    display: flex;
    align-items: flex-start;
}

.about-photo img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    filter: grayscale(100%); /* Apply grayscale filter to all images */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.about-text {
    width: calc(50% - 10px);
    margin-top: 20px;
}

.about-text p {
    width: 80%;
    margin-top: 20px;
}

/* PORTFOLIO SECTION */
.portfolio-section,
.contact-section {
    padding: 50px 0;
    background-color: #f0f0f0;
}

.portfolio-section h2 {
    text-align: left;
    margin-bottom: 20px;
}

.portfolio-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Allow projects to wrap to the next line on smaller screens */
}

.project {
    flex: 0 0 calc(33.333% - 20px); /* each project takes up one-third of the container width, margin */
    margin: 10px;
}

.project img {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: grayscale(100%); /* Apply grayscale filter to all images */
}

/* CONTACT SECTION */
.contact-section {
    background-color: #fff;
    color: #333;
    padding: 50px 0;
}

.contact-section form input,
.contact-section form textarea,
.contact-section form button {
    background-color: #f0f0f0;
    color: #333;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 5px; /* Rounded corners */
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

.contact-section form textarea {
    height: 150px;
}

.contact-section form button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.contact-section form button:hover {
    background-color: #555;
}

/* FOOTER */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer ul li:not(:last-child) {
    margin-right: 20px;
}

footer p {
    margin-top: 20px;
}

/* Footer Links */
footer ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

footer ul li a:hover {
    color: #999;
}

/* Style links in the portfolio section */
.portfolio-links a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

.portfolio-links a:hover {
    color: #999;
    text-decoration: none;
}

/* Go to top button */
#goTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99; /* so it shows on top of other elements */
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.3s;
}

#goTopBtn:hover {
    opacity: 0.7;
}

.arrow-up {
    display: block;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li:first-child {
        margin-right: 0;
    }

    .home-section {
        padding: 100px 0;
    }

    .home-section h1,
    .home-section p {
        font-size: 36px;
    }

    .about-text {
        width: 100%;
    }

    .about-photo {
        width: 100%;
        margin-top: 40px;
    }

    .portfolio-section,
    .contact-section {
        padding: 30px 0;
    }

    .project {
        flex: 0 0 calc(50% - 20px);
    }

    .project img {
        width: 100%;
    }

    footer .container ul {
        display: none;
    }
}
