/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.home-section {
    background-color: #f0f0f0;
    text-align: center;
    padding: 100px 0;
}

.background-image {
    background-image: url('home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center; /* To center text vertically and horizontally */
    color: #fff; /* Text color for better visibility */
    padding: 100px 0; /* Adjust padding as needed */
}


.about-section,
.portfolio-section,
.contact-section {
    padding: 50px 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.about-content {
    margin-left: 20px;
}

.portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.portfolio-gallery img {
    max-width: 100%;
    height: auto;
}

.contact-section form input,
.contact-section form textarea,
.contact-section form button {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
